body{
    font-family: "DM Sans", sans-serif;
}


.carousel-item{
    height: 550px;
    object-fit: fill;
    vertical-align: top;
    
}
.text-content{
    color: black;
    position: absolute;
    bottom: 250px;
    font-size: 48px;
  right: 40px;
    font-family: "DM Sans", sans-serif;
}
.text{
    color: black;
    position: absolute;
    bottom: 220px;
   
  right: 4px;
    font-family: "DM Sans", sans-serif;
}
.content{
    position: absolute;
    bottom: 250px;
    font-size: 48px;
    font-family: "DM Sans", sans-serif;
  
}
.content-para{
    font-family: "DM Sans", sans-serif;
    position: absolute;
    bottom: 220px;
}